<div class="container p-3">
  <div class="offset-3 col-6">

    <div class="card-header  font-weight-bold">
      Reset Password
    </div>
    <div class="card card-body">

      <div *ngIf="status === 'TO_SEND'">
        <h3>Please enter your email address to renew your password.</h3>

        <div [formGroup]="emailForm" (submit)="resetPassword()">
          <div class="form-group">
            <label for="email" [ngClass]="emailForm.controls['email'].invalid ? 'text-danger' : ''">Email
              Address</label>
            <input id="email" formControlName="email" type="email" class="form-control"
                   [ngClass]="emailForm.controls['email'].invalid ? 'is-invalid' : ''">
            <label class="text-danger" *ngIf="emailForm.controls['email'].hasError('required')">
              Email is Required!
            </label>
            <label class="text-danger" *ngIf="emailForm.controls['email'].hasError('email')">
              Enter a valid email address!
            </label>
          </div>


          <label class="text-danger" *ngIf="sentCodeError">
            Can't sent code to this email : {{sentCodeError}}
          </label>

          <div class="form-group">
            <button (click)="sendCode()" [disabled]="emailForm.invalid" type="submit" class="btn btn-primary btn-block font-weight-bold">Send confirmation code</button>
          </div>
        </div>
      </div>



      <label class="text-danger" *ngIf="status === 'CODE_IS_WRONG'">
        The code entered is wrong
      </label>

      <label class="text-success" *ngIf="status === 'CODE_IS_CORRECT'">
        Your password has been reset with success
      </label>

      <form *ngIf="status === 'SENT_CODE'" [formGroup]="resetForm" (submit)="resetPassword()">

        <div class="form-group">
          <label for="code" [ngClass]="resetForm.controls['code'].invalid ? 'text-danger' : ''">Verification code </label>
          <input id="code" formControlName="code" class="form-control" [ngClass]="resetForm.controls['code'].invalid ? 'is-invalid' : ''">
          <label class="text-danger" *ngIf="resetForm.controls['code'].hasError('required')">
            The code is Required!
          </label>
        </div>

        <div class="form-group">
          <label for="password" [ngClass]="resetForm.controls['password'].invalid ? 'text-danger' : ''">Password:</label>
          <input id="password" formControlName="password" type="password" class="form-control"
                 [ngClass]="resetForm.controls['password'].invalid ? 'is-invalid' : ''">
          <!-- <label class="text-danger col" *ngIf="form.controls['password'].hasError('required')">
            Password is Required!
          </label> -->
          <label class="col"
                 [ngClass]="resetForm.controls['password'].hasError('required') || resetForm.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
            <i class="material-icons">{{ resetForm.controls['password'].hasError('required') ||
            resetForm.controls['password'].hasError('minlength') ? 'cancel' :
              'check_circle' }}</i>
            Must be at least 8 characters!
          </label>
          <label class="col"
                 [ngClass]="resetForm.controls['password'].hasError('required') || resetForm.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
            <i class="material-icons">{{ resetForm.controls['password'].hasError('required') ||
            resetForm.controls['password'].hasError('hasNumber') ? 'cancel' :
              'check_circle' }}</i>
            Must contain at least 1 number!
          </label>
          <label class="col"
                 [ngClass]="resetForm.controls['password'].hasError('required') || resetForm.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
            <i class="material-icons">{{ resetForm.controls['password'].hasError('required') ||
            resetForm.controls['password'].hasError('hasCapitalCase') ? 'cancel' :
              'check_circle' }}</i>
            Must contain at least 1 in Capital Case!
          </label>
          <label class="col"
                 [ngClass]="resetForm.controls['password'].hasError('required') || resetForm.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
            <i class="material-icons">{{ resetForm.controls['password'].hasError('required') ||
            resetForm.controls['password'].hasError('hasSmallCase') ? 'cancel' :
              'check_circle' }}</i>
            Must contain at least 1 Letter in Small Case!
          </label>
          <label class="col"
                 [ngClass]="resetForm.controls['password'].hasError('required') || resetForm.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
            <i class="material-icons">{{ resetForm.controls['password'].hasError('required') ||
            resetForm.controls['password'].hasError('hasSpecialCharacters') ? 'cancel' :
              'check_circle' }}</i>
            Must contain at least 1 Special Character!
          </label>
        </div>
        <div class="form-group">
          <label for="confirmPassword" [ngClass]="resetForm.controls['confirmPassword'].invalid ? 'text-danger' : ''">Confirm
            Password:</label>
          <input id="confirmPassword" formControlName="confirmPassword" type="password" class="form-control"
                 [ngClass]="resetForm.controls['confirmPassword'].invalid ? 'is-invalid' : ''">
          <label class="text-danger" *ngIf="resetForm.controls['confirmPassword'].hasError('required')">
            Password is Required!
          </label>
          <label class="text-danger" *ngIf="resetForm.controls['confirmPassword'].hasError('NoPassswordMatch')">
            Password do not match
          </label>
        </div>

        <div class="form-group">
          <button [disabled]="resetForm.invalid" type="submit" class="btn btn-primary btn-block font-weight-bold">Reset password
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
